body {font-family: 'Maven Pro', sans-serif; text-align: center;
	background-color: #E0FFFF; margin:0; color: #696969;}
label {padding: 0.07rem;}
h1 {background-color:LightBlue; margin:0; color: #FFFFFF; padding:10px; font-size:50px;}
h2 {font-size: 30px;} 